

.footer__container {
    width: 100%;
    height: auto;

    border-top: 1px solid var(--colorBorder);
}
.developed {
    width: 100%;
    height: auto;

    padding: 20px;
    text-align: center;
}
.developed p {
    color: var(--white);
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    font-weight: 300;
}