
@media (min-width: 791px) {
    .container {
        width: 100%;
        height: auto;
    
        padding: 40px 50px 0 50px;
    }
}

/* ---- Header ---- */
@media (max-width: 790px) {
    .header__container {
        padding: 5px 10px;
    }
    .logo__header {
        width: 120px;
    }
    .nav__header {
        position: absolute;
        top: 70px;
        right: 0;

        width: 100%;
        height: 50px;

        border-radius: 20px;
        background: var(--bgBodyGradient);
        display: none;
    }
    .nav__header ul {
        column-gap: 20px;
        line-height: 50px;
    }
    .nav__header ul li {
        font-size: 12px;
    }
    .user__header {
        width: 50px;
    }
}

/* ---- Main ---- */
@media (max-width: 790px) {
    .container {
        width: 100%;
        height: auto;
    
        padding: 20px 15px 0 15px;
    }
    .main__container {
        margin: 30px 0;
    }
    .movie_info span {
        font-size: 13px;
    }
    .movie_name { 
        height: auto;
        margin-bottom: 5px;
    }
    .movie_name h1 {
        font-size: 25px;
        letter-spacing: -1px;
    }
    .movie_description {
       height: 60px;
    }
    .movie_description h3 {
        font-size: 14px;
    }
    .logo_imdb {
        width: 44px;
    }
    .movie_rating {
        margin-bottom: 15px;
    }
    .movie_rating span {
        font-size: 20px;
    }
    .movie_button {
        width: 120px;
        height: 40px;
    }
    .play_icon {
        width: 25px;
    }
    .movie_button span {
        font-size: 14px;
    }
}

/* ---- Section ---- */
@media (max-width: 790px) {
    .title__section h1, .title__last_section h1 {
        font-size: 24px;
    }
    .content {
        width: auto;
        height: 200px;
    }
    #list_card_movie {
        padding: 0 5px;
    }
    #card_movie {
        width: 140px;
        height: 180px;
    }
    .last_section {
        padding: 40px 15px;
    }
    .content__last_section {
        width: auto;
        height: 200px;
    }
    #list_card_tv {
        padding: 0 5px;
    }
    #card_tv {
        width: 180px;
        height: 180px;
    }
    .content__card {
        height: 60px;
        padding: 0 0 7px 10px;
    }
    .content__card h1 {
        font-size: 16px;
    }
    .content__card span {
        font-size: 13px;
    }
}

/* ---- Footer ---- */
@media (max-width: 790px) {
    .footer__container {
        padding: 20px 0 30px;
    }
    .about__footer p {
        font-size: 10px;
    }
    .legal__footer p {
        font-size: 8px;
    }
    .developed__footer {
        margin-top: 20px;
    }
    .developed__footer p {
        font-size: 12px;
    }
    .fa-brands {
        font-size: 16px;
    }
}