

.section__container {
    width: 100%;
    height: auto;
}
.title__section {
    width: 100%;
    height: auto;
}
.title__section h1 {
    color: var(--white);
    font-family: 'Karla', sans-serif;
    font-size: 28px;
    font-weight: 500;

    letter-spacing: -0.5px;
}
.container_content__section {
    width: 100%;
    height: auto;

    overflow: scroll hidden;
}
.content {
    width: 1800px;
    height: 340px;

    display: flex;
    align-items: center;
}
#list_card_movie {
    display: flex;
    justify-content: space-between;

    padding: 0 15px;
    column-gap: 20px;
    list-style: none;
}
#card_movie {
    width: 200px;
    height: 280px;

    background: url(/assets/bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 10px;
    cursor: pointer;
    transition: transform ease-in-out 0.25s;
}
#card_movie:hover {
    transform: scale(1.05);
}



.last_section__container {
    width: 100%;
    height: auto;
}
.last_section {
    padding: 50px;
}
.title__last_section {
    width: 100%;
    height: auto;
}
.title__last_section h1 {
    color: var(--white);
    font-family: 'Karla', sans-serif;
    font-size: 28px;
    font-weight: 500;

    letter-spacing: -0.5px;
}
.container_content__last_section {
    width: 100%;
    height: auto;

    overflow: scroll hidden;
}
.content__last_section {
    width: 1800px;
    height: 340px;

    display: flex;
    align-items: center;
}
#list_card_tv {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 15px;
    column-gap: 20px;
    list-style: none;
}
#card_tv {
    position: relative;

    width: 280px;
    height: 280px;

    background: url(/assets/bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 10px;
    cursor: pointer;
    transition: transform ease-in-out 0.25s;
}
#card_tv:hover {
    transform: scale(1.05);
}
.content__card {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 90px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    border-radius: var(--cardBorder);
    backdrop-filter: var(--cardFilter);
    background: var(--cardBG);
    padding: 0 0 10px 15px;
}
.content__card h1 {
    color: var(--white);
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 700;

    letter-spacing: -0.5px;
}
.content__card span {
    color: var(--white);
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    font-weight: 300;
}



.container_content__section::-webkit-scrollbar {
    width: 10px;
}
.container_content__section::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    background-clip: padding-box;
    border: 5px solid transparent;
    border-radius: 8px;  
    box-shadow: none;
    min-height: 50px;
 }
.container_content__section::-webkit-scrollbar-thumb {
    background: #dededecc;
    background-clip: padding-box;
    border: 5px solid transparent;
    border-radius: 8px;  
    box-shadow: none;
    min-height: 50px;
}
.container_content__last_section::-webkit-scrollbar {
    width: 10px;
}
.container_content__last_section::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    background-clip: padding-box;
    border: 5px solid transparent;
    border-radius: 8px;  
    box-shadow: none;
    min-height: 50px;
 }
.container_content__last_section::-webkit-scrollbar-thumb {
    background: #dededecc;
    background-clip: padding-box;
    border: 5px solid transparent;
    border-radius: 8px;  
    box-shadow: none;
    min-height: 50px;
}